<div class="container fill">
<div id="myCarousel" class="carousel slide" data-interval="false">
  <div class="carousel-inner">
    <div class="active item">
      <div class="fill" id="titlepage">
        <div class="container">
         <h1 class="titlepageheader">Where Should You Vacation Next?</h1>
         <h3 class="titlepagesubheader">Take this short 7 question quiz to find out<h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right start" href="#myCarousel" data-slide="next">Start the quiz</a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" id="firstquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 1</h1>
          <h3 class="questions">What is your ideal Friday night?</h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right first" href="#myCarousel" data-slide="next">Next</a>
          </div>
          <fieldset class="firstanswers">
                <label class="left">
                     <input type="radio" name="q1" value="A quiet evening at home"><p>A quiet evening at home</p></input>
                </label>
                <label class="left">
                    <input type="radio" name="q1" value="Partying it up"><p>Partying it up</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q1" value="Eating at an expensive restaurant"><p>Eating at an expensive restaurant</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q1" value="Going for a joy-ride"><p>Going for a joy-ride</p></input>
                </label>
          </fieldset>
 
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" id="secondquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 2</h1>
          <h3 class="questions">Which of these is your favorite movie?</h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right second" href="#myCarousel" data-slide="next">Next</a>
          </div>
            <fieldset class="secondanswers">
                <label class="left">
                     <input type="radio" name="q2" value="Die Hard"><p>Die Hard</p></input>
                </label>
                <label class="left">
                    <input type="radio" name="q2" value="Les Miserables"><p>Les Miserables</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q2" value="Love Actually"><p>Love Actually</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q2" value="The hangover"><p>The Hangover</p></input>
                </label>
          </fieldset>
        </div>
      </div>
    </div>
      <div class="item">
      <div class="fill" id="thirdquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 3</h1>
          <h3 class="questions">How diverse is your group of friends?</h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right third" href="#myCarousel" data-slide="next">Next</a>
          </div>
           <fieldset class="thirdanswers">
                <label class="left">
                     <input type="radio" name="q3" value="Die Hard"><p>Pretty much all the same</p></input>
                </label>
                <label class="left">
                    <input type="radio" name="q3" value="Les Miserables"><p>A couple different backgrounds</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q3" value="Love Actually"><p>Mostly different backgrounds</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q3" value="The hangover"><p>We're like the United Nations</p></input>
                </label>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" id="fourthquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 4</h1>
          <h3 class="questions">My opinion of the ocean is.. </h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right fourth" href="#myCarousel" data-slide="next">Next</a>
          </div>
           <fieldset class="fourthanswers">
                <label class="left">
                     <input type="radio" name="q4" value="Keep me away from it"><p>Keep me away from it</p></input>
                </label>
                <label class="left">
                    <input type="radio" name="q4" value="I don't mind being near it"><p>I don't mind being near it</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q4" value="I can swim in it all day"><p>I can swim in it all day</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q4" value="You'll never keep me away"><p>You'll never keep me away</p></input>
                </label>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" id="fifthquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 5</h1>
          <h3 class="questions">Which of these do you enjoy most?</h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right fifth" href="#myCarousel" data-slide="next">Next</a>
          </div>
           <fieldset class="fifthanswers">
                <label class="left">
                     <input type="radio" name="q5" value="Lounging around"><p>Lounging around</p></input>
                </label>
                <label class="left">
                    <input type="radio" name="q5" value="Playing sports"><p>Playing sports</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q5" value="Exploring new neighborhoods"><p>Exploring new neighborhoods</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q5" value="Being alone in nature"><p>Being alone in nature</p></input>
                </label>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" id="sixthquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 6</h1>
          <h3 class="questions">The last book you read was..</h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right sixth" href="#myCarousel" data-slide="next">Next</a>
          </div>
           <fieldset class="sixthanswers">
                <label class="left">
                     <input type="radio" name="q6" value="A romance novel"><p>A romance novel</p></input>
                </label>
                <label class="left">
                    <input type="radio" name="q6" value="A how-to guide"><p>A how-to guide</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q6" value="A historical biography"><p>A historical biography</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q6" value="A fantasy about a far-away land"><p>A fantasy about a far-away land</p></input>
                </label>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" id="seventhquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 7</h1>
          <h3 class="questions">How open are you to trying a new dish?</h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right seventh" href="#myCarousel" data-slide="next">See results</a>
          </div>
           <fieldset class="seventhanswers">
                <label class="left">
                     <input type="radio" name="q7" value="If it looks unknown, I'm not eating it"><p>If it looks unknown, I'm not eating it</p></input>
                </label>
                <label class="left">
                    <input type="radio" name="q7" value="Only if I know exactly what's in it"><p>Only if I know <em>exactly<em> what's in it</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q7" value="It's something new, I'll give it a shot"><p>It's something new, I'll give it a shot</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q7" value="I'll eat just about anything"><p>I'll eat just about anything</p></input>
                </label>
          </fieldset>
        </div>
      </div>
    </div>
    
    <div class="item base">
      <div class="fill" id="resultpage" style="background-image: url(<%= @location.bgimageurl %>); background-size: cover; background-position: center">
        <div class="container resultbox">
          <div class="result">
            <h2>You should visit.. </h2>
            <p class="resultname"><%= @location.name %></p>
          </div>
<!--           <div class="airlinelinks">
            <a href="http://www.skyscanner.com">Skyscanner</a>
            <a href="http://www.travelocity.com">Travelocity</a>
            <a href="http://www.orbitz.com">Orbitz</a>
          </div> -->
        </div>
      </div>
    </div>

  </div>
</div>
</div>