<div class="container fill">
<div id="myCarousel" class="carousel slide" data-interval="false">
  <div class="carousel-inner">
    <div class="active item">
      <div class="fill" id="titlepage">
        <div class="container">
         <h1 class="titlepageheader">Where Should You Travel?</h1>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right start" href="#myCarousel" data-slide="next">Start the quiz</a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" id="firstquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 1</h1>
          <h3 class="questions">What is your ideal Friday night?</h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right first" href="#myCarousel" data-slide="next">Next</a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" id="secondquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 2</h1>
          <h3 class="questions">Which of these is your favorite movie?</h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right second" href="#myCarousel" data-slide="next">Next</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  
</div>
</div>