<div class="container fill">
<div id="myCarousel" class="carousel slide" data-interval="false">
  <div class="carousel-inner">
    <div class="active item">
      <div class="fill" id="titlepage">
        <div class="container">
         <h1 class="titlepageheader">Where Should You Travel?</h1>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right start" href="#myCarousel" data-slide="next">Start the quiz</a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" id="firstquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 1</h1>
          <h3 class="questions"><%= @question[0].content %></h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right first" href="#myCarousel" data-slide="next">Next</a>
          </div>
          <fieldset class="firstanswers">
                <label class="left">
                     <input type="radio" name="q1" value="A quiet evening at home"><p>A quiet evening at home</p></input>
                </label>
                <label class="left">
                    <input type="radio" name="q1" value="Partying it up"><p>Partying it up</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q1" value="Eating at an expensive restaurant"><p>Eating at an expensive restaurant</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q1" value="Going for a joy-ride"><p>Going for a joy-ride</p></input>
                </label>
          </fieldset>
 
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" id="secondquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 2</h1>
          <h3 class="questions"><%= @question[1].content %></h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right second" href="#myCarousel" data-slide="next">Next</a>
          </div>
            <fieldset class="secondanswers">
                <label class="left">
                     <input type="radio" name="q2" value="Die Hard"><p>Die Hard</p></input>
                </label>
                <label class="left">
                    <input type="radio" name="q2" value="Les Miserables"><p>Les Miserables</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q2" value="Love Actually"><p>Love Actually</p></input>
                </label>
                <label class="right">
                    <input type="radio" name="q2" value="The hangover"><p>The Hangover</p></input>
                </label>
          </fieldset>
        </div>
      </div>
    </div>
      <div class="item">
      <div class="fill" id="thirdquestionpage">
        <div class="container">
         <h1 class="questionheader">Question 3</h1>
          <h3 class="questions"><%= @question[2].content %></h3>
          <div class="pull-center">
            <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
            <a class="carousel-control right third" href="#myCarousel" data-slide="next">Next</a>
          </div>
  </div>
</div>
</div>