@import "library";

$teal: #1EBBA6;
$orange: #EE7836;
$green: #85BE8D;
$red: #D36668;
$purple: #8776AB;
$blue: #0099cc;
$yellow: #F4B8A4;

html,body{height:100%;}
.container{padding:0;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}
.right {
	height: 50px;
}

#titlepage {
	background-image: url(http://31.media.tumblr.com/5d40ddbd07fc716e715bd5462e305edd/tumblr_mx3tmhXNNE1st5lhmo1_1280.jpg);
	position: relative;
}

.carousel-control.right {
	left: 50%;
	margin-left: -100px;
	margin-top: 550px;
}

.start {
	@include next-button($teal);
	position: absolute;
}

input[type=radio] {
    display: none;

    &:checked + p {
        background:  #696D86 ;
        border: 1px solid white ;
        color: white;
        }
 }

#firstquestionpage {
	background-color: $orange;
}

.first {
	@include next-button($orange)
}

.firstanswers {
	@include answers($orange)
}

#secondquestionpage {
	background-color: $green;
}

.second {
	@include next-button($green)
}

.secondanswers {
	@include answers($green)
}

#thirdquestionpage {
	background-color: $red;
}

.third {
	@include next-button($red)
}

.thirdanswers {
	@include answers($red)
}

#fourthquestionpage {
	background-color: $teal;
}

.fourth {
	@include next-button($teal)
}

.fourthanswers {
	@include answers($teal)
}

#fifthquestionpage {
	background-color: $purple;
}

.fifth {
	@include next-button($purple)
}

.fifthanswers {
	@include answers($purple)
}

#sixthquestionpage {
	background-color: $blue;
}

.sixth {
	@include next-button($blue)
}

.sixthanswers {
	@include answers($blue)
}

#seventhquestionpage {
	background-color: $yellow;
}

.seventh {
	@include next-button($yellow)
}

.seventhanswers {
	@include answers($yellow)
}

.result {
	margin: 0 auto;
	width: 500px;
	height: 150px;
	background-color: black;
	margin-top: 250px;
	opacity: .8;

	h2 {
		text-align: center;
		color: white;
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		font-size: 40px;
		padding-top: 10px;
	}

	p {
		text-align: center;
		color: white;
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		font-size: 70px;
		padding-top: 10px;

	}
}

.carousel-control {
	opacity: 1;
	text-shadow: none;
	padding-top: 13px;
	width: 200px;
		&.right {
			background-image: none;
	}
}

.titlepageheader {
	@include text;
	margin-top: 15%;
	font-size: 70px;
}

.titlepagesubheader {
	@include text;
	margin-top: 20px;
	font-size: 30px;
}

.questionheader {
	@include text;
	@include header;
}

.questions {
	@include text;
	@include question;
}


@media (max-width: 767px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 640px) { 

	.left, .right {
		margin-left: 160px;
	}

	.right {
		margin-top: 15px;
	}
}

@media screen and (max-width: 500px) { 
	.result {
		width: 400px;
	}
}

@media screen and (max-width: 400px) { 
	.result {
		width: 350px;
	}
}

@media screen and (max-width: 350px) { 
	.result {
		width: 320px;
	}
}






