html, body {
  height: 100%;
}

.container {
  padding: 0;
}

.carousel, .item, .active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.right {
  height: 50px;
}

#titlepage {
  background-image: url(http://31.media.tumblr.com/5d40ddbd07fc716e715bd5462e305edd/tumblr_mx3tmhXNNE1st5lhmo1_1280.jpg);
  position: relative;
}

.carousel-control.right {
  left: 50%;
  margin-left: -100px;
  margin-top: 550px;
}

.start {
  background-color: #1aa592;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  position: absolute;
}
.start:hover {
  background-color: #178f7f;
  border: 1px solid white;
}

input[type=radio] {
  display: none;
}
input[type=radio]:checked + p {
  background: #696d86;
  border: 1px solid white;
  color: white;
}

#firstquestionpage {
  background-color: #ee7836;
}

.first {
  background-color: #ec681e;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}
.first:hover {
  background-color: #de5c13;
  border: 1px solid white;
}

.firstanswers {
  margin-top: 40px;
  position: absolute;
  width: 640px;
  left: 50%;
  margin-left: -330px;
}
.firstanswers label p {
  border: 1px solid white;
  padding-top: 15px;
  margin-left: 20px;
  overflow: hidden;
  width: 300px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 15px;
  font-family: 'Roboto Slab', serif;
}
.firstanswers label p:hover {
  cursor: pointer;
}
.firstanswers label.left, .firstanswers label.right {
  float: left;
}

#secondquestionpage {
  background-color: #85be8d;
}

.second {
  background-color: #74b57d;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}
.second:hover {
  background-color: #64ac6e;
  border: 1px solid white;
}

.secondanswers {
  margin-top: 40px;
  position: absolute;
  width: 640px;
  left: 50%;
  margin-left: -330px;
}
.secondanswers label p {
  border: 1px solid white;
  padding-top: 15px;
  margin-left: 20px;
  overflow: hidden;
  width: 300px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 15px;
  font-family: 'Roboto Slab', serif;
}
.secondanswers label p:hover {
  cursor: pointer;
}
.secondanswers label.left, .secondanswers label.right {
  float: left;
}

#thirdquestionpage {
  background-color: #d36668;
}

.third {
  background-color: #cd5254;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}
.third:hover {
  background-color: #c83e41;
  border: 1px solid white;
}

.thirdanswers {
  margin-top: 40px;
  position: absolute;
  width: 640px;
  left: 50%;
  margin-left: -330px;
}
.thirdanswers label p {
  border: 1px solid white;
  padding-top: 15px;
  margin-left: 20px;
  overflow: hidden;
  width: 300px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 15px;
  font-family: 'Roboto Slab', serif;
}
.thirdanswers label p:hover {
  cursor: pointer;
}
.thirdanswers label.left, .thirdanswers label.right {
  float: left;
}

#fourthquestionpage {
  background-color: #1ebba6;
}

.fourth {
  background-color: #1aa592;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}
.fourth:hover {
  background-color: #178f7f;
  border: 1px solid white;
}

.fourthanswers {
  margin-top: 40px;
  position: absolute;
  width: 640px;
  left: 50%;
  margin-left: -330px;
}
.fourthanswers label p {
  border: 1px solid white;
  padding-top: 15px;
  margin-left: 20px;
  overflow: hidden;
  width: 300px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 15px;
  font-family: 'Roboto Slab', serif;
}
.fourthanswers label p:hover {
  cursor: pointer;
}
.fourthanswers label.left, .fourthanswers label.right {
  float: left;
}

#fifthquestionpage {
  background-color: #8776ab;
}

.fifth {
  background-color: #7966a1;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}
.fifth:hover {
  background-color: #6d5a94;
  border: 1px solid white;
}

.fifthanswers {
  margin-top: 40px;
  position: absolute;
  width: 640px;
  left: 50%;
  margin-left: -330px;
}
.fifthanswers label p {
  border: 1px solid white;
  padding-top: 15px;
  margin-left: 20px;
  overflow: hidden;
  width: 300px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 15px;
  font-family: 'Roboto Slab', serif;
}
.fifthanswers label p:hover {
  cursor: pointer;
}
.fifthanswers label.left, .fifthanswers label.right {
  float: left;
}

#sixthquestionpage {
  background-color: #0099cc;
}

.sixth {
  background-color: #0086b3;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}
.sixth:hover {
  background-color: #007399;
  border: 1px solid white;
}

.sixthanswers {
  margin-top: 40px;
  position: absolute;
  width: 640px;
  left: 50%;
  margin-left: -330px;
}
.sixthanswers label p {
  border: 1px solid white;
  padding-top: 15px;
  margin-left: 20px;
  overflow: hidden;
  width: 300px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 15px;
  font-family: 'Roboto Slab', serif;
}
.sixthanswers label p:hover {
  cursor: pointer;
}
.sixthanswers label.left, .sixthanswers label.right {
  float: left;
}

#seventhquestionpage {
  background-color: #f4b8a4;
}

.seventh {
  background-color: #f1a68d;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}
.seventh:hover {
  background-color: #ee9477;
  border: 1px solid white;
}

.seventhanswers {
  margin-top: 40px;
  position: absolute;
  width: 640px;
  left: 50%;
  margin-left: -330px;
}
.seventhanswers label p {
  border: 1px solid white;
  padding-top: 15px;
  margin-left: 20px;
  overflow: hidden;
  width: 300px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 15px;
  font-family: 'Roboto Slab', serif;
}
.seventhanswers label p:hover {
  cursor: pointer;
}
.seventhanswers label.left, .seventhanswers label.right {
  float: left;
}

.result {
  margin: 0 auto;
  width: 500px;
  height: 150px;
  background-color: black;
  margin-top: 250px;
  opacity: .8;
}
.result h2 {
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 40px;
  padding-top: 10px;
}
.result p {
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 70px;
  padding-top: 10px;
}

.carousel-control {
  opacity: 1;
  text-shadow: none;
  padding-top: 13px;
  width: 200px;
}
.carousel-control.right {
  background-image: none;
}

.titlepageheader {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 15%;
  font-size: 70px;
}

.titlepagesubheader {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

.questionheader {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
}

.questions {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 2%;
  font-size: 50px;
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 640px) {
  .left, .right {
    margin-left: 160px;
  }

  .right {
    margin-top: 15px;
  }
}
@media screen and (max-width: 500px) {
  .result {
    width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .result {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .result {
    width: 320px;
  }
}
